name: Semgrep

on:
  push:
    branches: [main, master]
  pull_request:
  workflow_dispatch:

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep rules
        uses: returntocorp/semgrep-action@v1
        with:
          config: semgrep-rules/
